*{
    text-decoration: none;
  }
  
main{
    min-height: 80vh;
    background-color: #1E1E1E;
    color: white;
}

.showcase{
    background-color: #495E57;
    color: white;
}
.specials{
    background-color: #161212ab;
    color: white;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
}

footer ul{
    list-style-type: none;
}